<html lang='en'>

<body>
  <div>
    <p>Dear {{salutation}},</p>

    <p>{{ fullName }} has submitted the following enquiry via the Find, Recruit and Follow-up (FRF) website. Please
      respond to {{ fullName }} at your earliest convenience.</p>

    <p><strong>Enquiry Type: {{#if (eq enquiryType 'data')}}Identifying appropriate data services{{else}}General
        research
        support{{/if}}</strong></p>

    <p><strong>Selected Lead Region: {{ regionName }}</strong></p>

    <p><strong>Enquiry details: {{ supportDescription }}</strong></p>

    <h2>Contact details</h2>

    <p>Name: {{ fullName }}</p>

    <p>Email address: {{ emailAddress }}</p>

    <p>Phone number: {{ telephone }}</p>

    <p>Role: {{ jobRole }}</p>

    <p>Organisation name: {{ organisationName }}</p>

    <p>Organisation type: {{#if (eq organisationType 'commercial')}}Commercial{{else}}Non-commercial
      support{{/if}}</p>

    <h2> Study information</h2>

    <p>Study title: {{#if studyTitle}}{{ studyTitle }}{{else}}Not provided{{/if}}</p>

    <p>Protocol reference: {{#if protocolReference}}{{ protocolReference }}{{else}}Not provided{{/if}}</p>

    <p>CPMS ID: {{#if cpmsId}}{{ cpmsId }}{{else}}Not provided{{/if}}</p>

    <p>If you have any questions or feel unable to support this enquiry then please contact the FRF Central Team at
      frfteam@nihr.ac.uk.</p>

    <p>Best wishes,</p>

    <p><strong>Find, Recruit &amp; Follow-up Central Team</strong></p>
  </div>
</body>

</html>