<html lang='en'>

  <body>
    {{! Main content }}
    <div>
      <p>Dear {{salutation}},</p>

      <p>{{fullName}}
        has submitted the following enquiry via the Find, Recruit and Follow-up (FRF) website. Please respond to
        {{fullName}}
        at your earliest convenience.</p>

      <p><strong>Enquiry Type:
          {{#if (eq enquiryType 'data')}}Identifying appropriate data services{{else}}General research support{{/if}}</strong></p>

      <p><strong>Selected Lead Region: {{regionName}}</strong></p>

      <p><strong>Enquiry details: {{supportDescription}}</strong></p>

      <p><strong>Contact details</strong></p>

      <p>Name: {{fullName}}</p>

      <p>Email address: {{emailAddress}}</p>

      <p>Telephone: {{#if phoneNumber}}{{phoneNumber}}{{else}}Not provided{{/if}}</p>

      <p>Role: {{jobRole}}</p>

      <p>Organisation name: {{organisationName}}</p>

      <p>Organisation type:
        {{#if (eq organisationType 'commercial')}}Commercial{{else}}Non-commercial{{/if}}</p>

      <p><strong>Study information</strong></p>

      <p>Study title: {{#if studyTitle}}{{studyTitle}}{{else}}Not provided{{/if}}</p>

      <p>Protocol reference: {{#if protocolReference}}{{protocolReference}}{{else}}Not provided{{/if}}</p>

      <p>CPMS ID: {{#if cpmsId}}{{cpmsId}}{{else}}Not provided{{/if}}</p>

      <p>If you have any questions or feel unable to support this enquiry then please contact the FRF Central Team at
        frfteam@nihr.ac.uk.</p>

      <p>Best wishes,</p>

      <p><strong>Find, Recruit &amp; Follow-up Central Team</strong></p>
    </div>

    <br />

    {{! Email signature }}
    <div>
      <p>
        &nbsp;<span style='color:#193e72;font-size:19px;'><strong>Find, Recruit and Follow-up</strong></span></p>
      <br>
      <table style='width:540px;border-collapse:collapse'>
        <tbody>
          <tr>
            <td style='width:162px;'>
              <p>&nbsp;<img src='https://www.nihr.ac.uk/layout/4.0/assets/external/nihr-logo.png' alt='NIHRLogo' width='206'
                  class='CToWUd' data-bit='iit' /></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>