<html lang='en'>

  <body>
    {{! Main content }}
    <div>
      <p>Dear {{fullName}},</p>

      <p>We would like to confirm that your enquiry has been sent to {{dspName}} via the Find, Recruit and Follow-up website.</p>

      <p>For your reference the enquiry details submitted are as follows:</p>

      <p><strong>Enquiry detail: {{studyDescription}}</strong></p>

      <p><strong>Contact details</strong></p>

      <p>Full name: {{fullName}}</p>

      <p>Email address: {{emailAddress}}</p>

      <p>Telephone: {{#if phoneNumber}}{{phoneNumber}}{{else}}Not provided{{/if}}</p>

      <p>Job role: {{jobRole}}</p>

      <p>Organisation name: {{organisationName}}</p>

      <p>Best wishes,</p>

      <p><strong>Find, Recruit &amp; Follow-up</strong></p>

    </div>

    <br />

    {{! Email signature }}
    <div>
      <p>
        &nbsp;<span style='color:#193e72;font-size:19px;'><strong>Find, Recruit and Follow-up</strong></span></p>
      <br>
      <table style='width:540px;border-collapse:collapse'>
        <tbody>
          <tr>
            <td style='width:162px;'>
              <p>&nbsp;<img src='https://www.nihr.ac.uk/layout/4.0/assets/external/nihr-logo.png' alt='NIHRLogo' width='206'
                  class='CToWUd' data-bit='iit' /></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>